<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="heading">Centers</div>
            <ul class="links">
                <li>
                    <a href="#" target="_blank">O365 Technical Network</a>
                </li>
                <li>
                    <a href="#" target="_blank">MSDN Forums</a>
                </li>
                <li>
                    <a href="#" target="_blank">UserVoice</a>
                </li>
                <li>
                    <a href="#" target="_blank">StackOverflow</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="heading">Follow Us</div>
            <ul class="links">
                <li>
                    <a href="https://twitter.com/OfficeDev" target="_blank">Twitter</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/OfficeDev" target="_blank">Facebook</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-6 hidden-md hidden-lg">
                    <p class="pull-right">
                        <ul class="contact-us">
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                            <li>
                                <a href="http://www.microsoft.com/info/privacy.mspx" target="_blank">Privacy</a>
                            </li>
                            <li>
                                <a href="http://msdn.microsoft.com/en-US/cc300389" target="_blank">Terms of use</a>
                            </li>
                            <li>
                                <a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/en-us.mspx" target="_blank">Trademarks</a>
                            </li>
                            <li>
                                &copy; 2014 Microsoft
                            </li>
                        </ul> 
                    </p>
                </div>
                <div class="col-xs-6 col-md-12 col-lg-12">
                    <div class="col-lg-6 col-lg-offset-6"><img class="microsoft-logo pull-right img-responsive" src="/Themes/DevOffice/Content/Images/microsoftLogo.png" /></div>
                </div>
                <div class="col-xs-6 col-md-12 col-lg-12 visible-md visible-lg">
                    <p class="pull-right">
                        <ul class="contact-us contact-us-inline">
                            <li>
                                &copy; 2014 Microsoft
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                            <li>
                                <a href="http://www.microsoft.com/info/privacy.mspx" target="_blank">Privacy</a>
                            </li>
                            <li>
                                <a href="http://msdn.microsoft.com/en-US/cc300389" target="_blank">Terms of use</a>
                            </li>
                            <li>
                                <a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/en-us.mspx" target="_blank">Trademarks</a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>