@if (Session[Devoffice.GettingStarted.Utils.Constants.userLoggedInStr] != null &&
    (bool)Session[Devoffice.GettingStarted.Utils.Constants.userLoggedInStr] == true)
{
    <text>
            Signed in as @Session[Devoffice.GettingStarted.Utils.Constants.azureUserEmailTagStr]!
            @Html.ActionLink("Sign out", "_SignOut", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </text>
}
else
{
    @Html.ActionLink("Sign in to try your data", "_SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
<div class="ms-border-color-neutralDark ms-bg-color-error">
    <p id="signin-error_msg" class="ms-font-color-error ms-font-l">@ViewBag.SigninError</p>
</div>