@{
    var homeUrl = Href("~/");
}
<div id="branding">
    <a href="@homeUrl"><img class="img-responsive" src="/Themes/DevOffice/Content/Images/devOffice_logo.png" alt="Office Dev Office Center logo" /></a>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_custom_sharing pull-right hidden-xs hidden-sm" id="header-social"></div>
