@{
    var homeUrl = Href("~/");
}
<div id="branding">
    <a href="@homeUrl"><img class="img-responsive" src="/Themes/DevOffice/Content/Images/devOffice_logo.png" alt="Office Dev Office Center logo" /></a>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_custom_sharing pull-right hidden-xs hidden-sm" id="header-social">

    <a href="http://feeds.feedburner.com/office/fmNx" target="_external">
    <span class="icon_rss" style="color: white;font-size: 12px;margin-left: 18px; float:right;margin-top:7px;"></span>
        </a>
</div>