
@using Orchard.Utility.Extensions;
@{
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}

<article class=" @contentTypeClassName container-fluid">
    <div class="icon-blog-green"></div>
    <div class="blog-tile-content">
        <header>
            <div class="blog-title-header">
                @Display(Model.Header)
                @if (Model.Meta != null)
                {
                    <div class="metadata">
                        @Display(Model.Meta)
                    </div>
                }
            </div>
        </header>
        @Display(Model.Content)

        @if (Model.Footer != null)
        {
            <footer>
                @Display(Model.Footer)
            </footer>
        }
    </div>
</article>