@if (!String.IsNullOrWhiteSpace(Model.Html.ToString())) {
    
    <div class="full-width-container">
        <div class="container-fluid">
  
            <div id="body-content">
                @Model.Html
            </div>
        
        </div>
    </div>
}

