<div id="signin-intro" class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12">
        <p>Your app needs to be registered for authentication and authorization before it can access the information through Office 365 APIs. App registrations can be created and managed in the Azure Management Portal. But for now, let's keep things simple. We'll create an app registration here for you with a few simple clicks.</p>
        <br />
        <p>First, you need access to a <strong>admin</strong> user account in an Office 365 Subscription. This can be an existing subscription you have for your work or business, an Office 365 Developer Subscription, or you can start with a <a href="https://portal.microsoftonline.com/Signup/MainSignUp.aspx?OfferId=6881A1CB-F4EB-4db3-9F18-388898DAF510&DL=DEVELOPERPACK" target="_blank">free 30-day trial</a>.</p>
        <br />
    </div>
</div>
<div id="signin-options" class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md6">
        <a id="app-reg-signin" class="button" href="#">
            <span class="ms-Button-label">Sign in with your existing admin account</span>
        </a>
    </div>
    <br />
    <div class="ms-Grid-col ms-u-sm12 ms-u-md6">
        <a href="https://portal.microsoftonline.com/Signup/MainSignUp.aspx?OfferId=6881A1CB-F4EB-4db3-9F18-388898DAF510&DL=DEVELOPERPACK" target="_blank" onclick="ga('send', 'event', 'O365path-Rest', 'Signin-CreateNewAccount');">Create a new Office 365 account</a>
    </div>
</div>
<a id="app-reg-signin-later">
    <span class="ms-Button-label">No, I will sign in later</span>
</a>
<div class="ms-border-color-neutralDark ms-bg-color-error">
    <p id="signin-error_msg" class="ms-font-color-error ms-font-l ">@ViewBag.SigninError</p>
</div>
