<div id="signin-intro" class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12">
        <p>Your app needs to be registered for authentication and authorization before it can access the information through Office 365 APIs. App registrations can be created and managed in the Azure Management Portal. But for now, let's keep things simple. We'll register an app here for you with a few simple clicks.</p>
        <br />
        <p>This can be an existing subscription you have for your work or business, or an Office 365 developer subscription. If you don’t have one, you can sign up for a free one year subscription to Office 365 through our developer program.</p>
        <br />
    </div>
</div>
<div id="signin-options" class="row">
    <div class="col-sm-6 col-lg-6">
        <a id="app-reg-signin" class="button responsive-btn" href="#">
            Sign in with your existing admin account
        </a>
    </div>
    <div class="cols-sm-6 col-lg-6 marginTop10">
        <a href="http://dev.office.com/devprogram" target="_blank" onclick="ga('send', 'event', 'O365path-Rest', 'Signin-CreateNewAccount');">Sign up for a free Office 365 dev account</a>
    </div>
</div>

<div class="spacer20">
    <a id="app-reg-signin-later" href="">
        <span class="ms-Button-label">No, I will sign in later</span>
    </a>
    <p class="spacer20"><strong>Note :</strong>The downloaded code will not run without app registration information such as a client id. If you sign-in and register an app in the previous step, we can embed the app registration for you.</p>
</div>
<div class="ms-border-color-neutralDark ms-bg-color-error">
    <p id="signin-error_msg" class="ms-font-color-error ms-font-l ">@ViewBag.SigninError</p>
</div>
