<div class="card" id="intro" name="1. Intro">
    <div><h3>Get started with Office 365 APIs </h3></div>
    <p>
        Office 365 REST APIs let you plug in your users' mail, calendars, contacts, and files into your app. 
    </p>
    <div class="=marginTop10">
        <img src="@Url.Content("~/Modules/Devoffice.GettingStarted/images/O365Overview.png")" alt="Office 365 Overview" class="marginTop10 img-responsive"/>
    </div>
    <p class="marginTop10">
        Now, scroll down and let's get you started...
    </p>
</div>

