<div class="card" id="intro" name="Intro">
    <div><h3>Introduction to Office 365 APIs</h3></div>
    <p>
        Office 365 REST APIs let you plug in your users' mail, calendars, contacts, and files into your app. 
    </p>
    <div>
        <img src=@Url.Content("~/Modules/Devoffice.GettingStarted/images/O365Overview.png") alt="Office 365 Overview" style="height:300px; width:400px; border:0px;" />
    </div>
    <p>
        Now, scroll down and let's get you started...
    </p>
</div>

