<div class="card" id="1" name="Intro">
    <div><h3>Intro</h3></div>
    <p>
        Office 365 REST APIs let you plug in your users' mail, calendars, contacts, and files into your app. 
    </p>
    <div>
        <img src=@Url.Content("~/Modules/Devoffice.GettingStarted/images/O365Overview.png") alt="Office 365 Overview" style="height:300px; width:400px; border:0px;" />
    </div>
    <p>
        Scroll down and see how to connect in just 10 minutes, or jump right into the <a href="https://msdn.microsoft.com/en-us/office/office365/howto/rest-api-overview">
            reference.
        </a>
    </p>
</div>

