<div class="card" id="next-step" name="6. More resources">
    <h1>You’re all set!</h1>
    <p>Here are some other resources to help you as you continue building your app.</p>
    <div>
        <h4>Training</h4>
        <p>Take a deep dive with our <a href="http://dev.office.com/training" target="_blank">training.</a></p>
        <h4>API references</h4>
        <a href="https://msdn.microsoft.com/en-us/office/office365/howto/rest-api-overview" target="_blank">Office 365 API Reference</a>
        <h4>Code samples</h4>
        <p>There are a ton of <a href="http://dev.office.com/codesamples#?filters=office%20365%20app" target="_blank">code samples</a> that you can use as a starting point for your app.</p>
        <h4>Manage your apps and permissions in Azure</h4>
        <p>Check out the Azure Management portal to <a target="_blank" href="https://msdn.microsoft.com/en-us/office/office365/howto/add-common-consent-manually">manage your app.</a></p>
        <h4>Get your app featured</h4>
        <p>Building a web app? <a target="_blank" href="https://msdn.microsoft.com/en-us/office/office365/howto/connect-your-app-to-o365-app-launcher">Get your app to appear in the O365 app launcher</a>, or <a target="_blank" href="https://msdn.microsoft.com/en-us/office/office365/howto/submit-web-apps-seller-dashboard">submit it to the Office 365 store</a>.</p>
    </div>
</div>


