<div class="card" id="next-step" name="6. More resources">
    <div class=""><h3>✓ You’re all set, here are more resource for you to get going.</h3></div>
    <div>
        <h4>Check out the API references</h4>
        <ul>
            <li>Mail <a href="https://msdn.microsoft.com/office/office365/APi/mail-rest-operations" target="_blank">API reference</a></li>
            <li>Calendar <a href="https://msdn.microsoft.com/office/office365/APi/calendar-rest-operations" target="_blank">API reference</a></li>
            <li>Contacts <a href="https://msdn.microsoft.com/office/office365/APi/contacts-rest-operations" target="_blank">API reference</a></li>
            <li>OneDrive for Business Files <a href="https://msdn.microsoft.com/office/office365/APi/files-rest-operations" target="_blank">API reference</a></li>

        </ul>
        <h4>Code samples</h4>
        <p>There are a ton of <a href="http://dev.office.com/code-samples?filters=Office%20365%20API" target="_blank">code samples</a> that you can use as a starting point for your app.</p>
        <h4>Manage your apps and permissions in Azure</h4>
        <p>Check out the Azure Management portal to <a target="_blank" href="https://msdn.microsoft.com/en-us/office/office365/howto/add-common-consent-manually">manage your app.</a></p>
        <h4>Get your app featured</h4>
        <p>Building a web app? <a target="_blank" href="https://msdn.microsoft.com/en-us/office/office365/howto/connect-your-app-to-o365-app-launcher">Get your app to appear in the O365 app launcher</a>, or <a target="_blank" href="https://msdn.microsoft.com/en-us/office/office365/howto/submit-web-apps-seller-dashboard">submit it to the Office 365 store</a>.</p>
    </div>
</div>


