<div class="card" id="7" name="Next Steps">
    <div class=""><h3>Next Steps</h3></div>
    <div>

        <h4>Check out the API References</h4>
        <ul>
            <li><a href="https://msdn.microsoft.com/office/office365/APi/mail-rest-operations" target="_blank">Mail API Reference</a></li>
            <li><a href="https://msdn.microsoft.com/office/office365/APi/calendar-rest-operations" target="_blank">Calendar API Reference</a></li>
            <li><a href="https://msdn.microsoft.com/office/office365/APi/contacts-rest-operations" target="_blank">Contacts API Reference</a></li>
            <li><a href="https://msdn.microsoft.com/office/office365/APi/files-rest-operations" target="_blank">OneDrive for Business Files API Reference</a></li>

        </ul>
        <h4>API Sandbox</h4>
        <p>If you'd like to explore more or get some code snippets to jump-start your development, check out the <a href="https://apisandbox.msdn.microsoft.com/" target="_blank">API Sandbox</a>. Edit and run code right from your web browser!</p>
        <h4>Code Samples</h4>
        <p>There are a ton of <a href="http://dev.office.com/code-samples?filters=Office%20365%20API" target="_blank">code samples</a> that you can use as a starting point for your app.</p>
        <h4>Manage your apps in Azure</h4>
        <p>Check out the <a target="_blank"href="http://portal.azure.com">Azure Management portal</a> to <a target="_blank" href="https://msdn.microsoft.com/en-us/office/office365/howto/add-common-consent-manually">manage your app.</a></p>
        <h4>Get your app featured</h4>
        <p>Building a web app? <a target="_blank" href="https://msdn.microsoft.com/en-us/office/office365/howto/connect-your-app-to-o365-app-launcher">Get your app to appear in the O365 app launcher</a>, or <a target="_blank" href="https://msdn.microsoft.com/en-us/office/office365/howto/submit-web-apps-seller-dashboard">submit it to the Office 365 store</a>.</p>
    </div>
</div>


