@if (Session[Devoffice.GettingStarted.Utils.Constants.userLoggedInStr] != null &&
    (bool)Session[Devoffice.GettingStarted.Utils.Constants.userLoggedInStr] == true)
{
    <script>
        $(document).ready(function () {
            updatePlatform("#" + "@Session[Devoffice.GettingStarted.Utils.Constants.platformNameTagStr]");
        });
    </script>
}
<div class="card-question" id="SetupPlatform" style="display:none" >
    <div id="ShowDocumentationDiv">
    </div>
</div>

