<div class="card" id="3" name="Setup" isblocking="true">
    <h3>Pick the platform you'll be building on</h3>
    <p>After you pick the platform, we'll walk you through getting the right tools, registering your app, and getting you in front of code.</p>
        <div id="pickPlatform">
            <ul class="tabs">
                <li><a id="option-ios" href="#option-ios">iOS</a></li>
                <li><a id="option-android" href="#option-android">Android</a></li>
                <li><a id="option-node" href="#option-node">Node.js</a></li>
                <li><a id="option-dotnet" href="#option-dotnet">.Net MVC</a></li>
                <li><a id="option-php" href="#option-php">PHP</a></li>
                <li><a id="option-python" href="#option-python">Python</a></li>
                <li><a id="option-ruby" href="#option-ruby">Ruby</a></li>
            </ul>
        </div>
    </div>
