<script>
    $(document).ready(function () {
        updatePlatform("#" + "@Session[Devoffice.GettingStarted.Utils.Constants.platformNameTagStr]");
    });
</script>
<div class="card-question" id="SetupPlatform" style="display:none" isblocking="true">
    <!--
    Use this section for general comments    
    <hr />
    <h4 class="spacer20">Ok, next, let's setup your environment</h4>
    -->
    <div id="ShowDocumentationDiv">
    </div>
    <!--    
            <div id="DownloadContainer">
                <ol>
                    <li><p>Create a new Xcode application project from the Xcode splash screen. In the dialog, choose iOS &gt; Single View Application. Name your application as you wish; we'll assume the name <em>O365QuickStart</em> here.</p></li>
                    <li><p>Add a file to the project. Choose iOS &gt; Other &gt; Empty from the dialog and name your file <code>Podfile</code>.</p></li>
                    <li>
                        <p>Add these lines to the Podfile to import <em>all</em> libraries listed above.</p>

                        <div class="highlight highlight-ruby">
                            <pre>source <span class="pl-s"><span class="pl-pds">'</span>https://github.com/CocoaPods/Specs.git<span class="pl-pds">'</span></span>
        xcodeproj <span class="pl-s"><span class="pl-pds">'</span>O365QuickStart<span class="pl-pds">'</span></span>
        pod <span class="pl-s"><span class="pl-pds">'</span>Office365<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>=0.9.0<span class="pl-pds">'</span></span>
        pod <span class="pl-s"><span class="pl-pds">'</span>ADALiOS<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>=1.2.2<span class="pl-pds">'</span></span></pre>
                        </div>

                        <blockquote>
                            <p>NOTE: For detailed information on Cocoapods and best practices for Podfiles, read the <a href="https://guides.cocoapods.org/using/using-cocoapods.html">Using Cocoapods</a> guide.</p>
                        </blockquote>
                    </li>
                    <li><p>Close the Xcode project.</p></li>
                    <li>
                        <p>From the command line, change to your project's directory. Then run <code>pod install</code>.</p>

                        <blockquote>
                            <p>NOTE: Install Cocoapods first of course. Instructions <a href="https://guides.cocoapods.org/using/getting-started.html">here</a>.</p>
                        </blockquote>
                    </li>
                    <li><p>From the same location in the terminal, execute <code>open O365QuickStart.xcworkspace</code> to open a workspace containing your original project together with imported pods in Xcode.</p></li>
                </ol>
            </div>
            -->
    </div>

