<div class="card" id="setup" name="3. Setup" isblocking="true">
    <h3>Pick the platform you'll be building on</h3>
    <p>After you pick the platform, we'll walk you through getting the right tools, registering your app, and getting you in front of code.</p>
    <div id="pickPlatform">
        <ul class="tabs">
            <li><a id="option-android" href="">Android</a></li>
            <li><a id="option-dotnet" href="">ASP.NET MVC</a></li>
            <li><a id="option-ios" href="">iOS</a></li>
            <li><a id="option-node" href="">Node.js</a></li>
            <li><a id="option-php" href="">PHP</a></li>
            <li><a id="option-python" href="">Python</a></li>
            <li><a id="option-ruby" href="">Ruby</a></li>
        </ul>
    </div>
    <div id="pickPlatformDisableDiv" hidden>
        <br />
        <p><strong>Note: </strong> You can not change the platform once an app has been registered, to change the platform, please refresh the page and start over.</p>
    </div>
</div>
