<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="https://dev.office.com/Themes/DevOffice/WindowsDevFiles/css/10.min.css" rel="stylesheet" type="text/css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link href="@Url.Content("~/Content/Site.css")" rel=stylesheet>
<link href="https://dev.office.com/Themes/DevOffice/Styles/site.min.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "O365Path";
}
<!-- TBD: this gives error becasue we are compromising security by using CSS coming from http, where as current protocol is SSL
<link href="http://dev.office.com/Themes/DevOffice/Styles/site.min.css" rel="stylesheet" type="text/css">
-->
@Scripts.Render("~/bundles/gettingstarted")
<script>

    //var platformName = null;


</script>
<style>
</style>
<body>
</body>
@Scripts.Render("~/bundles/gettingstarted_AtEnd")
