@*
    @Model.RequestedUrl
    @Model.ReferrerUrl
*@

<div class="four_oh_four">
    <div class="Mobile_FOF">
        <img src="/Themes/DevOffice/Content/Images/FOF.png">
    </div>
    <div id="Parallax">
        <div id="Top">
            <img id="Man" src="/Themes/DevOffice/Content/Images/man.png">
        </div>
        <div id="Middle">
            <img id="Bubble" src="/Themes/DevOffice/Content/Images/speach_bubble.png">
        </div>
        <div id="Bottom">
            <img id="Cloud_One" src="/Themes/DevOffice/Content/Images/cloud_one.png">
            <img id="Cloud_Two" src="/Themes/DevOffice/Content/Images/cloud_two.png">
            <img id="Cloud_Three" src="/Themes/DevOffice/Content/Images/cloud_three.png">
        </div>
    </div>
</div>