
@{

    Script.Include("/Themes/DevOffice/WindowsDevFiles/js/appbar.js");
}

<section id="appbar" class="nopad" data-src="//cmsresources.windowsphone.com/devcenter/en-us/devcenter_v2/data/appdata.js"></section>