@using DevOffice.Secret.Controllers
@using Newtonsoft.Json
@{
    Script.Require("jQuery");
    Script.Include("../Scripts/activity-feed-api-form.js");
}
<section class="row banner-image media-library-picker-field" aria-label="Activity Feed API Form Banner">
    <img src="/Media/Default/Secret Pages/activity_feed_banner_final_opt2.png" alt="Activity Feed API Form Top Banner">
</section>
<div class='container-fluid' id="activity-feed-api-form">
    <div class='row' id='form-contents' ng-controller="devCenterActivityFeedAPIFormController">
        <div id='form-column' class='col-lg-9 col-md-9'>
            <h1>Office 365 Management API Preview</h1>
            <form id="api-request-form">

                <div id="user-info-contents">
                    <h2>Enter your details</h2>

                    <!-- first name / last name -->
                    <div class='row'>
                        <div class='col-lg-6 col-md-6'>
                            <label>
                                <p>First name</p>
                                <input type='text' id='firstname-input' required ng-model='data.FirstName' maxlength="200" />
                            </label>
                        </div>
                        <div class='col-lg-6 col-md-6'>
                            <label>
                                <p>Last name</p>
                                <input type='text' id='lastname-input' required ng-model='data.LastName' maxlength="200" />
                            </label>
                        </div>
                    </div>

                    <!-- email / phone -->
                    <div class='row'>
                        <div class='col-lg-6 col-md-6'>
                            <label>
                                <p>Email</p>
                                <input type='email' id='email-input' required ng-model='data.Email' maxlength="200" />
                            </label>
                        </div>
                        <div class='col-lg-6 col-md-6'>
                            <label>
                                <p>Phone</p>
                                <input type='tel' id='phone-input' required ng-model='data.Phone' maxlength="32" />
                            </label>
                        </div>
                    </div>

                    <!-- company name -->
                    <div class='row'>
                        <div class='col-lg-6 col-md-6'>
                            <label>
                                <p>Company name</p>
                                <input type='text' id='company-input' required ng-model='data.CompanyName' maxlength="200" />
                            </label>
                        </div>
                        <div class='col-lg-6 col-md-6'>
                            <label>
                                <p>Company address</p>
                                <input type='text' id='company-address-input' required ng-model='data.CompanyAddress' maxlength="200" />
                            </label>
                        </div>
                    </div>

                    <!-- country / state / City / PostCode -->
                    <div class='row'>
                        <div class='col-lg-3 col-md-3'>
                            <label>
                                <p>Country</p>
                                <select id='country-select' required ng-change="" ng-model='data.Country'>
                                    <option value='' disabled selected>Select a country...</option>
                                    <option value="US">United States</option>
                                    <option value="CA">Canada</option>
                                    <option value="AU">Australia</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="AT">Austria</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czech Republic</option>
                                    <option value="DK">Denmark</option>
                                    <option value="EE">Estonia</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="DE">Germany</option>
                                    <option value="GR">Greece</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italy</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MT">Malta</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="NO">Norway</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="RO">Romania</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="ES">Spain</option>
                                    <option value="SE">Sweden</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AE">United Arab Emirates</option>
                                    <option value="AF">Afghanistan</option>
                                    <option value="AG">Antigua and Barbuda</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AL">Albania</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AO">Angola</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="AR">Argentina</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BA">Bosnia and Herzegovina</option>
                                    <option value="BB">Barbados</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BI">Burundi</option>
                                    <option value="BJ">Benin</option>
                                    <option value="BM">Bermuda</option>
                                    <option value="BN">Brunei</option>
                                    <option value="BO">Bolivia</option>
                                    <option value="BR">Brazil</option>
                                    <option value="BS">Bahamas</option>
                                    <option value="BT">Bhutan</option>
                                    <option value="BV">Bouvet Island</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BZ">Belize</option>
                                    <option value="CC">Cocos [Keeling] Islands</option>
                                    <option value="CD">Congo - Kinshasa</option>
                                    <option value="CF">Central African Republic</option>
                                    <option value="CG">Congo - Brazzaville</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="CI">Côte d’Ivoire</option>
                                    <option value="CK">Cook Islands</option>
                                    <option value="CL">Chile</option>
                                    <option value="CM">Cameroon</option>
                                    <option value="CN">China</option>
                                    <option value="CO">Colombia</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="CV">Cape Verde</option>
                                    <option value="CW">Curaçao</option>
                                    <option value="CX">Christmas Island</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominica</option>
                                    <option value="DO">Dominican Republic</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="EC">Ecuador</option>
                                    <option value="EG">Egypt</option>
                                    <option value="EH">Western Sahara</option>
                                    <option value="ER">Eritrea</option>
                                    <option value="ET">Ethiopia</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FK">Falkland Islands</option>
                                    <option value="FM">Micronesia</option>
                                    <option value="FO">Faroe Islands</option>
                                    <option value="GA">Gabon</option>
                                    <option value="GD">Grenada</option>
                                    <option value="GE">Georgia</option>
                                    <option value="GF">French Guiana</option>
                                    <option value="GH">Ghana</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GL">Greenland</option>
                                    <option value="GM">Gambia</option>
                                    <option value="GN">Guinea</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GQ">Equatorial Guinea</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GU">Guam</option>
                                    <option value="GW">Guinea-Bissau</option>
                                    <option value="GY">Guyana</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HT">Haiti</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="IM">Isle of Man</option>
                                    <option value="IN">India</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="JM">Jamaica</option>
                                    <option value="JO">Jordan</option>
                                    <option value="JP">Japan</option>
                                    <option value="KE">Kenya</option>
                                    <option value="KG">Kyrgyzstan</option>
                                    <option value="KH">Cambodia</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KM">Comoros</option>
                                    <option value="KN">Saint Kitts and Nevis</option>
                                    <option value="KR">South Korea</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="KY">Cayman Islands</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="LA">Laos</option>
                                    <option value="LB">Lebanon</option>
                                    <option value="LC">Saint Lucia</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="LR">Liberia</option>
                                    <option value="LS">Lesotho</option>
                                    <option value="LY">Libya</option>
                                    <option value="MA">Morocco</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MD">Moldova</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MK">Macedonia</option>
                                    <option value="ML">Mali</option>
                                    <option value="MM">Myanmar [Burma]</option>
                                    <option value="MN">Mongolia</option>
                                    <option value="MO">Macau</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MS">Montserrat</option>
                                    <option value="MU">Mauritius</option>
                                    <option value="MV">Maldives</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MX">Mexico</option>
                                    <option value="MY">Malaysia</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="NA">Namibia</option>
                                    <option value="NC">New Caledonia</option>
                                    <option value="NE">Niger</option>
                                    <option value="NF">Norfolk Island</option>
                                    <option value="NG">Nigeria</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NP">Nepal</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NU">Niue</option>
                                    <option value="OM">Oman</option>
                                    <option value="PA">Panama</option>
                                    <option value="PE">Peru</option>
                                    <option value="PF">French Polynesia</option>
                                    <option value="PG">Papua New Guinea</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="PM">Saint Pierre and Miquelon</option>
                                    <option value="PN">Pitcairn Islands</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="PS">Palestinian Territories</option>
                                    <option value="PW">Palau</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="QA">Qatar</option>
                                    <option value="RE">Réunion</option>
                                    <option value="RS">Serbia</option>
                                    <option value="RU">Russia</option>
                                    <option value="RW">Rwanda</option>
                                    <option value="SA">Saudi Arabia</option>
                                    <option value="SB">Solomon Islands</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SG">Singapore</option>
                                    <option value="SH">Saint Helena</option>
                                    <option value="SJ">Svalbard and Jan Mayen</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SM">San Marino</option>
                                    <option value="SN">Senegal</option>
                                    <option value="SO">Somalia</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SS">South Sudan</option>
                                    <option value="ST">São Tomé and Príncipe</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="SX">Sint Maarten</option>
                                    <option value="SZ">Swaziland</option>
                                    <option value="TC">Turks and Caicos Islands</option>
                                    <option value="TD">Chad</option>
                                    <option value="TG">Togo</option>
                                    <option value="TH">Thailand</option>
                                    <option value="TJ">Tajikistan</option>
                                    <option value="TK">Tokelau</option>
                                    <option value="TM">Turkmenistan</option>
                                    <option value="TN">Tunisia</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TR">Turkey</option>
                                    <option value="TT">Trinidad and Tobago</option>
                                    <option value="TV">Tuvalu</option>
                                    <option value="TW">Taiwan</option>
                                    <option value="TZ">Tanzania</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="UG">Uganda</option>
                                    <option value="UY">Uruguay</option>
                                    <option value="UZ">Uzbekistan</option>
                                    <option value="VA">Vatican City</option>
                                    <option value="VE">Venezuela</option>
                                    <option value="VG">British Virgin Islands</option>
                                    <option value="VI">U.S. Virgin Islands</option>
                                    <option value="VN">Vietnam</option>
                                    <option value="VU">Vanuatu</option>
                                    <option value="WF">Wallis and Futuna</option>
                                    <option value="WS">Samoa</option>
                                    <option value="XK">Kosovo</option>
                                    <option value="YE">Yemen</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="ZA">South Africa</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>
                                    <option value="Other">Other Country</option>
                                </select>
                            </label>
                        </div>
                        <div class='col-lg-3 col-md-3'>
                            <label>
                                <p>State/province</p>
                                <select required ng-model='data.State'>
                                    <option value='' disabled selected>Select a state/province...</option>
                                    <option value="Outside US">Outside US</option>
                                    <option value="AK">AK</option>
                                    <option value="AL">AL</option>
                                    <option value="AR">AR</option>
                                    <option value="AZ">AZ</option>
                                    <option value="CA">CA</option>
                                    <option value="CO">CO</option>
                                    <option value="CT">CT</option>
                                    <option value="DE">DE</option>
                                    <option value="FL">FL</option>
                                    <option value="GA">GA</option>
                                    <option value="HI">HI</option>
                                    <option value="IA">IA</option>
                                    <option value="ID">ID</option>
                                    <option value="IL">IL</option>
                                    <option value="IN">IN</option>
                                    <option value="KS">KS</option>
                                    <option value="KY">KY</option>
                                    <option value="LA">LA</option>
                                    <option value="MA">MA</option>
                                    <option value="MD">MD</option>
                                    <option value="ME">ME</option>
                                    <option value="MI">MI</option>
                                    <option value="MN">MN</option>
                                    <option value="MO">MO</option>
                                    <option value="MS">MS</option>
                                    <option value="MT">MT</option>
                                    <option value="NC">NC</option>
                                    <option value="ND">ND</option>
                                    <option value="NE">NE</option>
                                    <option value="NH">NH</option>
                                    <option value="NJ">NJ</option>
                                    <option value="NM">NM</option>
                                    <option value="NV">NV</option>
                                    <option value="NY">NY</option>
                                    <option value="OH">OH</option>
                                    <option value="OK">OK</option>
                                    <option value="OR">OR</option>
                                    <option value="PA">PA</option>
                                    <option value="RI">RI</option>
                                    <option value="SC">SC</option>
                                    <option value="SD">SD</option>
                                    <option value="TN">TN</option>
                                    <option value="TX">TX</option>
                                    <option value="UT">UT</option>
                                    <option value="VA">VA</option>
                                    <option value="VT">VT</option>
                                    <option value="WA">WA</option>
                                    <option value="WI">WI</option>
                                    <option value="WV">WV</option>
                                    <option value="WY">WY</option>
                                </select>
                            </label>
                        </div>
                        <div class='col-lg-3 col-md-3'>
                            <label>
                                <p>City</p>
                                <input type='text' required ng-model='data.City' maxlength="200" />
                            </label>
                        </div>
                        <div class='col-lg-3 col-md-3'>
                            <label>
                                <p>Postal Code</p>
                                <input type='text' required ng-model='data.PostCode' maxlength="200" />
                            </label>
                        </div>
                    </div>
                    <!-- product page url -->
                    <div class='row'>
                        <div class='col-lg-12 col-md-12'>
                            <label>
                                <p>Product page URL</p>
                                <input type='url' id='product-url-input' required ng-model='data.PageUrl' maxlength="200" />
                            </label>
                        </div>
                    </div>

                    <!-- scenarios -->
                    <div class='row'>
                        <div class='col-lg-12 col-md-12'>
                            <label>
                                <p>What scenarios do you want to enable with this integration?</p>
                                <textarea id='scenarios-textarea' required ng-model='data.Scenarios' maxlength="10000"></textarea>
                            </label>
                        </div>
                    </div>
                    
                    <div class='row'>
                        <div class='col-lg-12 col-md-12'>
                            <label>
                                <p>If you are a customer, which ISV partner are you working with?</p>
                                <input type='text' id='isv-partner-textarea' ng-model='data.IsvPartner' maxlength="200" />
                            </label>
                        </div>
                    </div>

                    <!-- description -->
                    <div class='row'>
                        <div class='col-lg-12 col-md-12'>
                            <label>
                                <p>Please provide a description of how your platform would integrate with the Office 365 Management Activity API.</p>
                                <textarea id='description-textarea' required ng-model='data.PlatformIntegrationDescription' maxlength="10000"></textarea>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Expected Usage / Growth -->
                <div id='usage-contents'>
                    <h2>Expected usage/growth</h2>
                    <div class='row'>
                        <p class='col-lg-12 col-md-12 '>What is your expected usage of Office Online</p>
                    </div>
                    <!-- monthly active users -->
                    <div class='row'>
                        <div class='col-lg-9 col-md-10 '>
                            <label for='monthly-users-input'>
                                <p>How many monthly active users does your platform have?</p>
                            </label>
                        </div>
                        <div class='col-lg-3 col-md-2'>
                            <input id='monthly-users-input' name='monthly-users-input' required type='number' min='0' max='10000000' ng-model='data.MonthlyUsers' />
                        </div>
                    </div>
                    <!-- daily active users -->
                    <div class='row'>
                        <div class='col-lg-9 col-md-10 '>
                            <label for='daily-users-input'>
                                <p>How many daily active users does your platform have?</p>
                            </label>
                        </div>
                        <div class='col-lg-3 col-md-2'>
                            <input id='daily-users-input' name='daily-users-input' required type='number' min='0' max='10000000' ng-model='data.DailyUsers' />
                        </div>
                    </div>

                    <!-- Current customers on O365 -->
                    <div class='row'>
                        <div class='col-lg-9 col-md-10 '>
                            <label for='current-users-input'>
                                <p>How many of your current customers are already on Office 365?</p>
                            </label>
                        </div>
                        <div class='col-lg-3 col-md-2'>
                            <input id='current-users-input' name='current-users-input' required type='number' min='0' max='10000000' ng-model='data.Current365Customers' />
                        </div>
                    </div>

                    <!-- Current customers not on O365, but would consider -->
                    <div class='row'>
                        <div class='col-lg-9 col-md-10 '>
                            <label for='future-users-input'>
                                <p>How many of your current customers are not on Office 365, but would consider it if your platform had an integration with the Office 365 Management Activity API?</p>
                            </label>
                        </div>
                        <div class='col-lg-3 col-md-2'>
                            <input id='future-users-input' name='future-users-input' required type='number' min='0' max='10000000' ng-model='data.Future365Customers' />
                        </div>
                    </div>
                </div>

                <!-- Submit/Cancel ---->
                <div id='submission-contents'>
                    <div class='row'>
                        <div class='col-lg-12 col-md-12'>
                            <!-- must be type submit for HTML5 form validation to trigger properly -->
                            <input type='submit' id="submit-link" class='form-submit' value='Submit' ng-click="submitClick()" />
                            
                            <span id="ajax-loader">
                                <!-- TODO add the styles for the spinner like the cloud storage form -->
                            </span>
                            <a href='#' id='cancel-link' ng-click="cancelClick()">Cancel</a>

                        </div>
                    </div>
                    <div class='row' id='form-error-message'>
                        <div class='alert alert-danger'>
                            <p>
                                <strong>Error: </strong>
                                Something went wrong while submitting the form.
                            </p>
                        </div>
                    </div>
                </div>

                <input type='hidden' name="__RequestVerificationToken" id='anti-forgery-token' ng-model='antiForgeryToken' value="@Html.AntiForgeryTokenValueOrchard()">

            </form>
        </div>

        <!-- side bar affixed form navigation -->
        <div id='nav-column' class='col-lg-3 col-md-3'>
            <nav id='side-nav'>
                <ul class='nav'>
                    <li>
                        <a href='#user-info-contents'>
                            User information
                        </a>
                    </li>
                    <li>
                        <a href='#usage-contents'>
                            Expected usage/growth
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@using (Script.Foot()) {
    <script>
        var formTemplate = @Html.Raw(JsonConvert.SerializeObject(new ActivityFeedAPIFormUploadModel()));
    </script>
}
